@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTCond-Book.eot');
    src: local('Futura PT Cond Book'), local('FuturaPTCond-Book'),
    url('../fonts/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPTCond-Book.woff2') format('woff2'),
    url('../fonts/FuturaPTCond-Book.woff') format('woff'),
    url('../fonts/FuturaPTCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
    url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
    url('../fonts/FuturaPT-Demi.woff') format('woff'),
    url('../fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTCond-Bold.eot');
    src: local('Futura PT Cond Bold'), local('FuturaPTCond-Bold'),
    url('../fonts/FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPTCond-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPTCond-Bold.woff') format('woff'),
    url('../fonts/FuturaPTCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
    url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Book.woff2') format('woff2'),
    url('../fonts/FuturaPT-Book.woff') format('woff'),
    url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'),
    url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Light.woff2') format('woff2'),
    url('../fonts/FuturaPT-Light.woff') format('woff'),
    url('../fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

